body {
  padding: 0;
  margin: 0%;
}
.header {
  background-color: black;
  height: 70px;
  /* display: flex; */
  /* align-items: center;
  flex-wrap: wrap; */
  padding-top: 10px;
  margin: 0;
}
.logo {
  display: flex;
  gap: 5px;
  height: 100%;
  align-items: center;
}
.div1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-left: 8%;
}
.secnav {
  display: flex;
  gap: 20px;
}
section {
  display: flex;
  gap: 20px;
  width: fit-content;
}
.div2 {
  /* padding: 7px; */
  height: 60%;
  display: flex;
  gap: 5px;
  color: white;
  width: 180px;
  /* white-space: nowrap; */
  position: relative;
  height: 100%;
  text-decoration: none;
  align-items: center;
}
.div2:hover {
  cursor: pointer;
}
.div2::after {
  content: "";
  position: absolute;
  width: 100%;
  padding-left: 0%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #168796;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}
.div2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.iconoheader {
  background-color: white;
  padding: 7px;
  height: fit-content;
  font-weight: bolder;
}
nav {
  color: white;
  padding: 10px;
  padding-left: 0;
}
.ul1 {
  list-style-type: none;
  display: flex;
  margin: 0;
  justify-content: start;
  align-items: center;
  height: 100%;
  padding-left: 0;
  border-left: 1px solid rgb(63, 62, 62);
}

#search {
  margin-top: 5px;
  position: relative;
  padding: 10px;
}
#search input {
  width: 150px;
}
#search input:focus {
  outline: none;
}
#search i {
  position: absolute;
  /* left: 90%; */
  right: 18px;
  top: 16px;
}
li {
  margin-left: 40px;
}
section a:first-child {
  /* width: 50%; */
  color: black;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  cursor: pointer;
  color: gray;
}
.fourNews {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 49% 49%;
  gap: 2%;
  width: 100%;
}

.dimain {
  display: grid;
  background-color: white;
  height: 100%;
  width: 100%;
  grid-template-columns: auto auto;
  gap: 1%;
}
/* .dimain img {
  width: 100%;
  height: 100%;
} */
.dimain2 {
  display: grid;
  grid-template-columns: 70% 29%;
  gap: 1%;
  padding-top: 60px;
  background-color: white;
}
.welcome {
  color: #4b4545;
  font-weight: bold;
}
h2 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
main {
  padding: 150px;
  padding-left: 130px;
  padding-right: 150px;
}
.date {
  color: #8c8c8c;
  opacity: 1;
  text-align: right;
  font-weight: normal;
  font-size: 1.375rem;
}
.d1 {
  width: 100%;
  position: relative;
  /* height: auto; */
  background-color: black;
}

/* .d7 {
  position: relative;
  background-color: black;
  display: block;
  height: 50%;
} */
.d4,
.d5,
.d6,
.d7 {
  position: relative;
  background-color: black;
}
.locp {
  position: absolute;
  bottom: 2%;
  left: 2%;
  color: white;
  font-weight: 700;
  font-size: 1.3vw;
}

.locp1 {
  position: absolute;
  left: 2%;
  color: white;
  font-weight: 700;
  width: 98%;
  font-size: 1.1vw;
  margin: 0px;
  bottom: 10px;
}
.beforeFooter p {
  position: absolute;
  bottom: 10%;
  width: 98%;
  font-size: 1.5vw;
  left: 1%;
  color: white;
}
main a:hover {
  background-color: rgb(78, 65, 65);
  transition: 0.2s;
}
.music {
  background-color: rgb(238, 238, 238);
  padding: 10%;
  width: 100%;
}
.atmusic img {
  position: sticky;
  width: 100%;
  top: 0;
  height: 500px;
}
.besideMusic {
  width: 100%;
  /* height: 800px; */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 15px;
}
.divv {
  width: 100%;
  height: 80px;
  background-color: azure;
}
/* .dimain2 {
  padding-top: 60px;
} */
.row1,
.row2 {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5px;
}
.dh {
  display: flex;
  justify-content: space-between;
}
/* 
.swiper {
  width: 100%;
  /* height: 50%; 
  background-color: #474c52;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #474c52;
  display: flex;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; 
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 200px;
  /* margin: 20px auto; 
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
  background-color: black !important;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #41464c;
  color: #4c5660 !important;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
} */
/* ///////////////////////////////// */
.swiper {
  width: 9 0%;
  height: 100%;
  background-color: #474c52;
  border-top: solid 2px rgb(59, 57, 57);
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: 474c52;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 0;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}

.beforeFooter {
  margin-top: 50px;
  position: relative;
  background-color: #474c52;
  width: 100%;
  height: 500px;
}
.div2 i {
  font-size: 20px;
  color: white;
}
.remove {
  display: none;
}
.menu {
  display: flex;
  justify-content: start;
  gap: 5px;
  list-style-type: none;
  width: 100%;
  border-top: 1px solid gray;
  background-color: black;
  list-style-type: none;
  margin: 0;
  align-items: center;
  height: 50px;
  margin-top: 10px;
}
.footer {
  background-color: #102039;
  width: 100%;
  /* position: absolute;
  bottom: 0; */
  /* height: auto; */
  /* display: flex;
  padding-left: 150px;
  justify-content: space-between; */

  padding-top: 30px;
}
.footSection {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 20%;
  width: 100%;
  height: 90%;

  /* padding-left: 150px;
  padding-right: 10%; */
}
.footSection div:first-child {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  font-size: 10px;
  padding-left: 10%;
}

.iconFooter {
  width: 60%;
  text-align: center;
}
.footSection div:last-child li {
  display: inline;
  font-size: 20px;
}

.footer li {
  color: #ccc;
}
.footer ul {
  list-style-type: none;
  margin-top: 20px;
  line-height: 40px;
}
.footer li:hover {
  color: #5e5959;
}
small {
  display: block;
  color: #ccc;
  text-align: center;
}
.hamburger {
  display: none;
  color: white;
}

@media (width<1070px) {
  .div2 {
    width: 100%;
    white-space: nowrap;
  }
  .dimain {
    grid-template-columns: auto;
    /* grid-template-rows: auto auto; */
    height: 100%;
  }
  .locp {
    font-size: 3vw;
  }
  .locp1 {
    font-size: 2vw;
  }
  .dimain2 {
    grid-template-columns: auto;
  }
  .besideMusic {
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
  }
  .besideMusic img {
    height: 70%;
  }
  .music img {
    width: 70%;
  }
  .music {
    padding-left: 30%;
  }
}

@media (width<1185px) {
  .footSection {
    grid-template-columns: auto;
    gap: 0;
  }
  .iconFooter {
    text-align: left;
    padding-left: 10%;
  }
  small {
    padding-left: 16%;
  }
}
@media (width<598px) {
  .footSection div:first-child {
    display: none;
  }
  .iconFooter {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .iconFooter ul {
    margin: 0 auto;
    padding: 0;
  }
  small {
    margin: 0;
    padding-left: 6%;
  }
}
@media (width<910px) {
  #search input {
    display: none;
  }

  #search i {
    position: absolute;
    color: white;
    right: 20px;
    top: 10px;
    font-size: 25px;
    margin-top: -7px;
    cursor: pointer;
  }
}
@media (width<760px) {
  .div2 a {
    display: none;
  }
  .div2 i {
    font-size: 30px;
  }
}

@media (width<610px) {
  .hamburger {
    display: inline;
    color: white;
    font-size: 20px;
    margin-right: 30px;
    margin-top: -9.5px;
    cursor: pointer;
  }
  .div1 section {
    padding-top: 10px;
  }
  .ul1 {
    display: none;
  }
}
@media (width<569px) {
  .music img {
    width: 90%;
  }
  .music {
    background-color: white;
    padding-left: 20%;
  }
  .footSection div:first-child ul li {
    white-space: nowrap;
  }
}

@media (width>610px) {
  .menu {
    display: none;
  }
}
@media (width<1300px) {
  .main {
    padding: 10px;
  }
}
@media (width<1060px) {
  .swiper-slide {
    display: none;
  }
}
video {
  width: 100%;
  height: 100%;
}
