body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  height: 50px;
  /* display: flex; */
  /* align-items: center;
  flex-wrap: wrap; */
  padding-top: 10px;
  margin: 0;
}
.logo {
  display: flex;
  gap: 5px;
  height: 100%;
  align-items: center;
}
.div1 {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  align-items: center;
  padding-left: 8%;
}
.secnav {
  display: flex;
  gap: 20px;
}
section {
  display: flex;
  gap: 20px;
  width: fit-content;
}
.div2 {
  /* padding: 7px; */
  height: 60%;
  display: flex;
  gap: 5px;
  color: white;
  width: 180px;
  /* white-space: nowrap; */
  position: relative;
  height: 100%;
  text-decoration: none;
  align-items: center;
}
.div2:hover {
  cursor: pointer;
}
.div2::after {
  content: "";
  position: absolute;
  width: 100%;
  padding-left: 0%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #168796;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}
.div2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.iconoheader {
  background-color: white;
  padding: 7px;
  height: fit-content;
  font-weight: bolder;
}
nav {
  color: white;
  padding: 10px;
  padding-left: 0;
}
.ul1 {
  list-style-type: none;
  display: flex;
  margin: 0;
  justify-content: start;
  align-items: center;
  height: 100%;
  padding-left: 0;
  border-left: 1px solid rgb(63, 62, 62);
}

#search {
  margin-top: 8px;
  /* position: relative; */
  /* width: 100%; */
  /* padding: 10px; */
  color: white;
}

#search i {
  /* position: absolute; */
  /* left: 10%; */
  /* right: 1%;
  top: 15px; */
  color: white;
  align-self: flex-start;
}
li {
  margin-left: 40px;
}
.remove {
  display: none;
}
.hamburger {
  display: none;
  color: white;
}
.menu {
  display: flex;
  justify-content: start;
  gap: 5px;
  list-style-type: none;
  width: 100%;
  border-top: 1px solid gray;
  background-color: black;
  list-style-type: none;
  align-items: center;
  height: 50px;
  margin-top: 10px;
  padding-left: 0;
}
section a:first-child {
  /* width: 50%; */
  color: black;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  cursor: pointer;
  color: gray;
}
section div:first-child {
  padding: 7px;
  width: 50%;
  color: black;
  /* background-color: white; */
  text-decoration: none;
  padding-top: 20px;
}
.main {
  margin-top: 50px;
}
.maindiv1 {
  background-color: #149edc;
  margin-top: 2px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  height: 70px;
}
form {
  background-color: white;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between !important;
  width: 60%;
  margin-left: 20px;
}

form input {
  font-size: 20px;
  margin-left: 5px;
  width: 90%;
  border: none;
}
input:focus {
  outline: none;
}

form i {
  font-size: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
h2 {
  color: white;
}
button {
  background-color: white;
  border: none;
}

.maindiv2 {
  width: 100%;
  height: 300px;
  background-image: url("pexels-pixabay-414659.jpg");
  position: relative;
  background-size: cover;
}

.swiper {
  width: 80%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 10%;
}
.locatName {
  position: absolute;
  bottom: 150px;
  left: 10%;
  /* background-color: black; */
  color: white;
  font-size: 40px;
  /* padding: 10px 50px; */
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 200px !important;
  list-style-type: none;
  height: 92%;
  background-color: white;
  /* display: flex;
  justify-content: center; */
  align-items: center;
  margin: 0;
  border-right: 0.5px solid #c9c4c4;
  border-left: 0.5px solid #c9c4c4;
  border-bottom: 10px #fedb00 solid;
}

.swiper-slide:hover {
  border-top: 10px #9fcd80 solid;
}

.swiper-wrapper {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 90%;
}

.maindiv3 {
  /* background-color: #f6f6f6; */
  width: 80%;
  height: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.swiper-wrapper2 {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
}

.lis {
  width: 90% !important;
  height: 100% !important;
  background-color: #f6f6f6;
  position: absolute;
  bottom: 0;
  left: 5% !important;
}

.lis2 {
  text-align: center;
  font-size: 18px;
  width: 100px !important;
  list-style-type: none;
  height: 100% !important;
  background-color: white;
  /* display: flex;
  justify-content: center; */
  align-items: center;
  margin: 0;
  border-right: 0.5px solid #c9c4c4;
  border-left: 0.5px solid #c9c4c4;
}

.swiper-slide2:hover {
  border-top: 2px #9fcd80 solid;
}

.beforeFooter p {
  position: absolute;
  bottom: 10%;
  width: 98%;
  font-size: 1.5vw;
  left: 1%;
  /* color: white; */
}
.beforeFooter {
  margin-top: 50px;
  position: relative;
  background-color: #474c52;
  width: 100%;
  height: 500px;
}
.footer {
  background-color: #102039;
  width: 100%;
  margin-top: 50px;
  /* position: absolute;
  bottom: 0; */
  /* height: auto; */
  /* display: flex;
  padding-left: 150px;
  justify-content: space-between; */

  padding-top: 30px;
}
.footSection {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 20%;
  width: 100%;
  height: 90%;

  /* padding-left: 150px;
  padding-right: 10%; */
}
.footSection div:first-child {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  font-size: 10px;
  padding-left: 10%;
}

.iconFooter {
  width: 60%;
  text-align: center;
}
.footSection div:last-child li {
  display: inline;
  font-size: 20px;
}

.footer li {
  color: #ccc;
  white-space: nowrap;
}
.footer ul {
  list-style-type: none;
  margin-top: 20px;
  line-height: 40px;
}
.footer li:hover {
  color: #5e5959;
}
small {
  display: block;
  color: #ccc;
  text-align: center;
}

@media (width<1070px) {
  .div2 {
    width: 100%;
    white-space: nowrap;
  }
}
@media (width<610px) {
  .hamburger {
    display: inline;
    color: white;
    font-size: 20px;
    margin-right: 30px;
    margin-top: -9.5px;
    cursor: pointer;
  }
  .div1 section {
    padding-top: 10px;
  }
  .ul1 {
    display: none;
  }
  .header {
    padding: 5px 0;
    height: 50px;
  }
  .div1 {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    margin-left: 20px;
  }
}

@media (width<760px) {
  .div2 a {
    display: none;
  }
  .div2 i {
    font-size: 30px;
  }
}

@media (width<1185px) {
  .footSection {
    grid-template-columns: auto;
    gap: 0;
  }
  .iconFooter {
    text-align: left;
    padding-left: 10%;
  }
  small {
    padding-left: 16%;
  }
}
@media (width<598px) {
  .footSection div:first-child {
    display: none;
  }
  .iconFooter {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .iconFooter ul {
    margin: 0 auto;
    padding: 0;
  }
  small {
    margin: 0;
    padding-left: 6%;
  }
}
@media (width<569px) {
  .footSection div:first-child ul li {
    white-space: nowrap;
  }
}
